Day18/RPNCalculatorSOAPAPI/WebContent/wsdl/RPNCalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://amdocs.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://amdocs.com" xmlns:intf="http://amdocs.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://amdocs.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="evaluate">
    <complexType>
     <sequence>
      <element name="rpnMathExpression" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="evaluateResponse">
    <complexType>
     <sequence>
      <element name="evaluateReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="evaluateRequest">

      <wsdl:part element="impl:evaluate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="evaluateResponse">

      <wsdl:part element="impl:evaluateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RPNCalculator">

      <wsdl:operation name="evaluate">

         <wsdl:input message="impl:evaluateRequest" name="evaluateRequest">

       </wsdl:input>

         <wsdl:output message="impl:evaluateResponse" name="evaluateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RPNCalculatorSoapBinding" type="impl:RPNCalculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="evaluate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="evaluateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="evaluateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RPNCalculatorService">

      <wsdl:port binding="impl:RPNCalculatorSoapBinding" name="RPNCalculator">

         <wsdlsoap:address location="http://localhost:8085/RPNCalculatorSOAPAPI/services/RPNCalculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
